
* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }

  a {
    text-decoration: none;
  }

  body {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  footer {
    background-color: $darkgrey-bg-color;
    padding: 22px 25px;
    color: white;
  }