
    $white-bg-color: #ffffff;
    $main-bg-color: #f6f6f6;
    $loc-bg-color: #eaeaea;
    $buttons-bg-maincolor: #ff79da;
    $buttons-bg-secondcolor: #9356dc;
    $green-bg-color: #99e2d0;
    $darkgrey-bg-color: #353535;
    $index-color-icons: #7e7e7e;
    $green-font-color: #008766;
  