
.favorite__animation {
   display: flex;
   justify-content: center;
 }

 .favorite__animation__title {
   width: 22px;
   height: 21px;
   display: flex;
   margin: 0 0 0 40px;
 }
 
.block__heart {
   position: relative;
 
   .input__heart {
     display: none;
   }
 
   .heart__label {
     width: 100%;
     height:100%;
 
     position: absolute;
     top:0;
     left:0;
 
     cursor:pointer;
 
     z-index: 800;
   }
 
   /* Container du coeur */
   .heart-container {
     position: relative;
     width: 40px;
     height: 40px;
   }
 
   /* Partie animation avec la forme de la div = clipPath = Coeur */
   .heart-clip {
     display: block;
     width: 100%;
     height: 100%;
     position: relative;
     overflow: hidden;
     clip-path: url(#svgPath);
 
     &::before {
 
       content: "";
       display: block;
       width: 100%;
       height: 100%;
       border-radius: 50%;
       background: rgb(255,121,218);
       background: linear-gradient(0deg, rgba(255,121,218,1) 1%, rgba(147,86,220,1) 100%);
       opacity: 0;
       transform: scale(0);
       transition: transform 0.2s linear, opacity 0.2s linear;
       transform-origin: center 60%;
     }
   }
 
   /* Coeur initial */
   .heart-stroke {
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
     fill: #000;
   }
 
   /* On fais la même animation au click qu'au survol */
   .heart__label:hover ~ .heart-container .heart-clip::before,
   input:checked ~ .heart-container .heart-clip::before {
     transform: scale(1);
     opacity: 1;
   }
 }