.loader {
  color: #ffffff;
  font-size: 45px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%, 95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%, 59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f6f6f6;
}

main {
  background-color: #f6f6f6;
}

.main__restaurants {
  background-color: #ffffff;
}

footer {
  background-color: #353535;
  padding: 22px 25px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer li {
  margin: 0 0 7px 0;
  height: 20px;
  display: flex;
}

.header__index {
  background-color: #ffffff;
  width: 100%;
  margin: 0;
}

.header__return-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 71px 13px 17px;
}

.return {
  width: 30px;
  height: 30px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 17px;
  margin: 0 42px 0 0;
}

.logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 19px 0 16px;
  margin: 0 0 0 42px;
}

.header__restaurants {
  background-color: #ffffff;
}

.header__picture {
  width: 100%;
  height: 251px;
  object-fit: cover;
}

.header-restaurant__title {
  height: 10px;
}

.location {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 16px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}

.location__icon {
  margin: 0 17px 0 0;
}

.location__input {
  border: none;
  background-color: #eaeaea;
}

.index {
  background-color: #f6f6f6;
  padding: 0 0 57px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index__title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 39px 58px 15px 42px;
}

.index__text {
  margin: 0;
  padding: 0 26px 27px 34px;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  color: #353535;
}

.restaurant__name {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  border-radius: 30px 30px 0 0;
  background-color: #f6f6f6;
  padding: 32px 17px 0 17px;
  margin: 0 -13px;
  position: relative;
  bottom: 30px;
}

.favorite__animation__title {
  width: 22px;
  height: 21px;
  display: flex;
  margin: 0 0 0 40px;
}

.restaurants__title {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  border-radius: 30px 30px 0 0;
  background-color: #f6f6f6;
  padding: 32px 17px 0 17px;
  margin: 0 -13px;
  position: relative;
  bottom: 30px;
  display: flex;
  height: 70px;
}

.restaurant-section {
  background-color: #f6f6f6;
  padding: 0 13px 0 13px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.restaurant-section__title {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}

.restaurant-section__title::after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
  display: block;
  position: relative;
  top: 3px;
  margin: 0 0 3px 0;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  font-size: 16px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
}
.btn--command {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 186px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  font-size: 16px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
}

.btn:hover {
  opacity: 75%;
}

.btn--command:hover {
  opacity: 75%;
}

.bouton-commander {
  padding: 0 0 40px 0;
  margin: 0;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
}

.section__fonctionnement {
  background-color: #ffffff;
}

.section__title {
  padding: 48px 80px 26px 20px;
  margin: 0;
}

.fonctionnement {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 43.07px 0;
}

.icon__color {
  color: #353535;
}
.icon__color--grey {
  color: #7e7e7e;
}
.icon__color--purple {
  color: #9356dc;
}

.numbers {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 0 24.93px 0;
  width: 100%;
}

.number {
  background-color: #9356dc;
  border-radius: 25px;
  width: 24px;
  height: 24px;
  font-size: 14.18px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 10px;
  top: 10px;
}

.number__icontxt {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 20px 0 0;
  width: 100%;
  height: 72px;
  border: none;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
}

.number__icon {
  padding: 0 27px 0 33.47px;
  font-size: 18px;
}

.number__txt {
  font-weight: 500;
  font-size: 16px;
}

.section__restaurants {
  background-color: #f6f6f6;
  padding: 0 0 66px 0;
}

.restaurants {
  display: flex;
  flex-direction: column;
}

.card {
  border-radius: 15px;
  margin: 0 17px 18px 18px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #ffffff;
  position: relative;
}
.card--figure {
  width: 100%;
  height: 231px;
  margin: 0;
}
.card--figure .card--picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__content {
  height: 77px;
  text-decoration: none;
  color: black;
  padding: 16px 25px 12px 13px;
  display: flex;
  justify-content: space-between;
}
.card__content--title {
  margin: 0 0 5px 0;
  font-size: 18px;
  font-weight: 700;
  color: black;
}
.card__content--title:hover {
  text-decoration: underline solid 2px;
}
.card__content--txt {
  margin: 0;
  text-decoration: none;
  font-size: 17px;
  font-weight: 300;
  color: black;
}

.new-stickers {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #99e2d0;
  color: #008766;
  border-radius: 2px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  height: 29px;
  width: 80px;
  right: 12px;
  margin: 13px 0 0 0;
}

.favorite__animation {
  display: flex;
  justify-content: center;
  width: 22px;
  height: 21px;
}

.favorite__animation__title {
  width: 22px;
  height: 21px;
  display: flex;
  margin: 0 0 0 40px;
}

.heart-container {
  position: relative;
  width: 40px;
  height: 40px;
}

.heart-clip {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  clip-path: url(#svgPath);
}
.heart-clip:hover {
  animation: pulse 0.6s 0.3s infinite;
}
.heart-clip:hover::before {
  transform: scale(1);
  opacity: 1;
}
.heart-clip::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: linear-gradient(#ff79da, #9356dc);
  opacity: 0;
  transform: scale(0);
  transition: transform 0.2s linear, opacity 0.2s linear;
  transform-origin: center 60%;
}
.heart-clip.active {
  animation: pulse 0.6s 0.3s forwards;
}

.heart-stroke {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  fill: linear-gradient(#ff79da, #9356dc);
}

.menu__card__group {
  margin: 0 0 40px 0;
}

.menu__card {
  position: relative;
  border-radius: 15px;
  background-color: #ffffff;
  overflow: hidden;
  padding: 15px;
  height: 69px;
  margin: 12px 0 0 0;
}

.menu__card__content {
  width: 100%;
  height: 100%;
}

.menu__card__column {
  height: 100%;
}
.menu__card__column--left {
  width: calc(100% - 59px);
  transition: linear 0.3s;
}
.menu__card__column--right {
  position: absolute;
  top: 0;
  right: -59px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: linear 0.3s;
}

.menu__card__column--left .menu__card__title, .menu__card__column--left .menu__card__subtitle {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu__card__title {
  margin: 0;
  font-weight: 500;
}

.menu__card__subtitle {
  margin: 5px 0 0 0;
  font-size: 15.04px;
  font-weight: 300;
}

.menu__card__price {
  font-size: 18px;
  font-weight: 700;
  width: 27px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: relative;
  right: 15px;
}

.menu__card__input {
  display: none;
}

.menu__card__icon {
  width: 59px;
  height: 100%;
  background: #99e2d0;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__card__label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.menu__card__input:checked ~ .menu__card__content .menu__card__column--left {
  width: calc(100% - 59px - 27px);
}

.menu__card__input:checked ~ .menu__card__content .menu__card__column--right {
  right: 0;
}

.footer__logo {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  color: white;
  margin: 0 0 16px 0;
  width: 138px;
  height: 27px;
}

.footer__content {
  margin: 16px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.footer__link {
  color: white;
  text-decoration: none;
  margin: 0 0 10px 0;
  font-size: 16px;
  height: 20px;
}

.footer__link:hover {
  text-decoration: underline solid 2px;
}

.footer__icon {
  margin: 0 16px 0 0;
  height: 13px;
  width: 11px;
  font-size: 16px;
}
.footer__icon--partners {
  margin: 0 16px 0 0;
  font-size: 16px;
  width: 11px;
  height: 13px;
}

@media (min-width: 1440px) {
  .header__return-logo {
    height: 96px;
  }
  .index {
    padding: 0 0 30px 0;
  }
  .index__title {
    font-size: 40px;
  }
  .section__fonctionnement {
    padding: 50px 180px;
  }
  .section__title {
    padding: 0 0 25px 0;
  }
  .fonctionnement {
    margin: 0;
    flex-wrap: nowrap;
  }
  .numbers {
    margin: 0;
  }
  .section__restaurants {
    padding: 0 180px;
    margin: 30px 0;
  }
  .restaurants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card {
    margin: 0;
    width: calc(50% - 50px);
  }
  .card__margin__desktop {
    margin: 50px 0 0 0;
  }
  footer {
    padding: 30px 25px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
  }
  .footer__content {
    display: flex;
    flex-direction: row;
  }
  .footer__logo {
    margin: 0 0 0 100px;
  }
  footer li {
    margin: 0 7px 0 0;
  }
  .footer__link {
    margin: 0 7px 0 0;
  }
  .footer__icon {
    margin: 0 11px 0 0;
  }
  .footer__icon__partners {
    margin: 0 11px 0 0;
  }
  .mentions {
    margin: 0 20px 0 40px;
  }
  .restaurants__title {
    display: flex;
    justify-content: center;
  }
  .restaurant__name {
    text-align: center;
  }
  .restaurant-section {
    margin: 0 192px 0 193px;
    width: calc(100% - 192.5px - 192.5px);
    display: flex;
  }
  main {
    background-color: #f6f6f6;
  }
  .bouton-commander {
    margin: 0 192.5px 0 192.5px;
  }
  .restaurant-section__title {
    margin: 0 0 0 210.5px;
  }
  .menu__card__group {
    margin: 0 210.5px 40px 210.5px;
  }
}

/*# sourceMappingURL=style.css.map */
